/* GLOBAL COLUMN GRID */

.row {
    --grid-gap: var(--unit-small);
}


.row>* {
    margin-bottom: var(--grid-gap);
}


@media (width > 768px) {

    .row {
        --grid-gap: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--grid-gap);
    }

    .row {
        --grid-gap: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--grid-gap);
    }

    .row {

        .one-whole {
            grid-column: auto / span 12;
        }

        .one-half {
            grid-column: auto / span 6;
        }

        .one-third {
            grid-column: auto / span 4;
        }

        .two-thirds {
            grid-column: auto / span 8;
        }

        .one-fourth {
            grid-column: auto / span 3;
        }

        .three-fourths {
            grid-column: auto / span 9;
        }




        /* TWELVE COLUMN SYSTEM */

        .col-1 {
            grid-column: auto / span 1;
        }

        .col-2 {
            grid-column: auto / span 2;
        }

        .col-3 {
            grid-column: auto / span 3;
        }

        .col-4 {
            grid-column: auto / span 4;
        }

        .col-5 {
            grid-column: auto / span 5;
        }

        .col-6 {
            grid-column: auto / span 6;
        }

        .col-7 {
            grid-column: auto / span 7;
        }

        .col-8 {
            grid-column: auto / span 8;
        }

        .col-9 {
            grid-column: auto / span 9;
        }

        .col-10 {
            grid-column: auto / span 10;
        }

        .col-11 {
            grid-column: auto / span 11;
        }

        .col-12 {
            grid-column: auto / span 12;
        }


        /* CENTERING HELPERS */

        .one-half.centered {
            grid-column: 4 / span 6;
        }

        .two-thirds.centered {
            grid-column: 3 / span 8;
        }

        .one-third.centered {
            grid-column: 5 / span 4;
        }

        .one-fourth.centered {
            grid-column: 5 / span 3;
        }

        .three-fourths.centered {
            grid-column: 2 / span 9;
        }

        .col-1.centered {
            grid-column: 6 / span 1;
        }

        .col-2.centered {
            grid-column: 5 / span 2;
        }

        .col-3.centered {
            grid-column: 5 / span 3;
        }

        .col-4.centered {
            grid-column: 4 / span 4;
        }

        .col-5.centered {
            grid-column: 4 / span 5;
        }

        .col-6.centered {
            grid-column: 4 / span 6;
        }

        .col-7.centered {
            grid-column: 3 / span 7;
        }

        .col-8.centered {
            grid-column: 3 / span 8;
        }

        .col-9.centered {
            grid-column: 2 / span 9;
        }

        .col-10.centered {
            grid-column: 2 / span 10;
        }

        .col-11.centered {
            grid-column: 1 / span 11;
        }

        /* PUSHES */

        .push-1 {
            grid-column-start: 2;
        }

        .push-2 {
            grid-column-start: 3;
        }

        .push-3 {
            grid-column-start: 4;
        }

        .push-4 {
            grid-column-start: 5;
        }

        .push-5 {
            grid-column-start: 6;
        }

        .push-6 {
            grid-column-start: 7;
        }

        .push-7 {
            grid-column-start: 8;
        }

        .push-8 {
            grid-column-start: 9;
        }

        .push-9 {
            grid-column-start: 10;
        }

        .push-10 {
            grid-column-start: 11;
        }

    }

}



/* FOR DEMO PURPOSES */

.demo .row>* {
    background-color: rgb(227, 226, 226);
    padding: var(--unit-small);
    text-align: center;

}