/* STRUCTURE */


/* SITE HEARDER */

.site-header {

    /* background-color: yellow; */
    padding: var(--unit-small);
    background-color: var(--site-header-background-color, #fff);

    /* PLACE LOGO ON LEFT AND NAV ON RIGHT */

    display: flex;
    justify-content: space-between;
    align-items: center;


    /* REMOVE UNDERLINES ON LINKS */

    a {
        text-decoration: none;
        color: var(--site-header-text-color, black);
    }



    /* SITE LOGO */
    .site-logo {

        /* RENDER LOGO MARKS AND TEXT SIDE BY SIDE */
        display: flex;
        align-items: center;
        gap: var(--unit-extrasmall);

        /* SET THE SIZE OF THE LOGO TEXT AND REMOVE MARGINS AND PADDING */
        h1 {
            font-size: 1.5em;
            margin: 0;
            padding: 0;
        }
    }

    /* SITE NAV */

    .site-nav {

        /* SEE BELOW FOR SITE NAV */

    }



}

/* DEFAULT SITE NAV (NO MOBILE MENU) */
.site-nav {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 1em;
    }

    li {
        margin: 0;
        padding: 0;
    }

    /* HIDE MENU BUTTON IF SITE NAV DOES NOT HAVE MOBILE MENU CLASS */
    .menu-button {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }


}


/* SITE NAV WITH MOBILE NAV */
:root {
    --top-line-translation: 20% 0%;
    --bot-line-translation: -35% 30%;
}


.site-nav.mobile-menu {

    @media (width > 768px) {}

    @media (width <=768px) {

        a {
            color: var(--sitenav-drawer-menu-text-color, black);
        }

        /* MENU BUTTON */
        .menu-button {


            position: absolute;
            top: 1em;
            right: 1em;
            left: auto;
            z-index: 900;


            /*REMOVE DEFAULT BUTTON STYLING  */
            border: none;
            background-color: transparent;
            font-size: inherit;


            .menu-button-text {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }


            .menu-button-navicon {
                scale: .8;

                >* {
                    transition-origin: center;
                }

                &.rotate-to-x {
                    * {
                        transition: all .1s ease-out;
                    }
                }

                &.squish-to-x {

                    --squish-duration: .4s;

                    .top-line {
                        animation: navicon-squish-top-close var(--squish-duration) forwards;
                    }

                    .mid-line {
                        opacity: 1;
                        transition: opacity .1s linear calc(var(--squish-duration) / 2);
                    }

                    .bot-line {
                        animation: navicon-squish-bottom-close var(--squish-duration) forwards;
                    }

                }



            }


        }


        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 1em;
            justify-content: end;




            /* SITE NAV FOR SMALLER SCREENS  */

            /* MOBILE SCREEN STYLING */
            position: absolute;
            top: -100%;
            left: 0;
            display: block;
            background-color: var(--sitenav-drawer-menu-background-color, white);
            width: 100%;
            height: 100svh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            translate: 0 0;
            transition: all 1s cubic-bezier(0, .94, 0, 1.01);

        }

        &[data-navstate="open"] {

            .menu-button {
                position: fixed;
            }



            .menu-button-navicon {

                .top-line {
                    rotate: 45deg;
                    translate: var(--top-line-translation);
                }

                .mid-line {
                    opacity: 0;
                }

                .bot-line {
                    rotate: -45deg;
                    translate: var(--bot-line-translation);
                }

                &.squish-to-x {

                    --squish-duration: .4s;

                    .top-line {
                        animation: navicon-squish-top-open var(--squish-duration) linear forwards;
                    }

                    .mid-line {
                        opacity: 0;
                        transition: opacity .1s linear calc(var(--squish-duration) / 2);
                    }

                    .bot-line {
                        animation: navicon-squish-bottom-open var(--squish-duration) linear forwards;
                    }

                }

            }

            ul {
                translate: 0 100%;
            }


        }








    }
}



/* NAVICON ANIMATIONS FOR THE SQUISH TO X ANIMATION */
@keyframes navicon-squish-top-open {
    0% {
        translate: 0% 0%;
        rotate: 0deg;
    }

    50% {
        translate: 0% 41.5%;
        rotate: 0deg;
    }

    75% {
        translate: 0% 41.5%;
        rotate: 0deg;
    }

    100% {
        translate: var(--top-line-translation);
        rotate: 45deg;
    }
}

@keyframes navicon-squish-bottom-open {
    0% {
        translate: 0% 0%;
        rotate: 0deg;
    }

    50% {
        translate: 0% -41.5%;
        rotate: 0deg;
    }

    75% {
        translate: 0% -41.5%;
        rotate: 0deg;
    }

    100% {
        translate: var(--bot-line-translation);
        rotate: -45deg;
    }
}

@keyframes navicon-squish-top-close {
    0% {
        translate: var(--top-line-translation);
        rotate: 45deg;
    }

    25% {
        translate: 0% 41.5%;
        rotate: 0deg;
    }

    50% {
        translate: 0% 41.5%;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes navicon-squish-bottom-close {
    0% {
        translate: var(--bot-line-translation);
        rotate: -45deg;
    }

    25% {
        translate: 0% -41.5%;
        rotate: 0deg;
    }

    50% {
        translate: 0% -41.5%;
    }

    100% {
        translate: 0 0;
    }
}




.site-footer {

    background-color: var(--site-footer-background-color, white);
    padding-block: var(--unit-large);

    a {
        color: var(--site-footer-text-color, black);
    }


    .footer-nav {

        ul {

            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin: 0;
            padding: 0;
        }

    }


}


section {

    padding: var(--unit-large) 0;

}

/* HERO SECTION */

.hero {
    background-color: rgb(206, 203, 204);
    padding-block: var(--unit-xlarge);
}



/*  TWO COLUMNS LAYOUT WITH AN ASIDE */

main:has(aside.sidebar) {

    display: grid;
    grid-template-columns: 200px auto;
    gap: 1em;

    aside {
        grid-column: 1 / 2;
        grid-row: 2 / 3;


        /* STICKING THE ASIDE TO THE TOP ON SCROLL */
        position: sticky;
        top: 2em;
    }

    section {
        grid-column: 2 / 3;
    }

    .hero {
        grid-column: 1 / 3;
    }

}